<section class="module pt-0 pb-0" id="about">
  <div class="row position-relative m-0">
    <div class="col-xs-12 col-md-6 side-image" data-background="assets/images/curly/4.jpg"></div>
    <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="module-title font-alt align-left">Acerca de Nosotros</h2>
          <div class="module-subtitle font-serif align-left">Motivados por la idea de reunir a las personas.</div>
          <p>Vive la experiencia completa del arte y el sabor en nuestra panadería cerca del Museo de Bellas Artes en Santiago. Ofrecemos panes y pasteles hechos a mano con ingredientes frescos y de alta calidad, además de opciones veganas y sin gluten. ¡Ven y disfruta del arte y la delicia en nuestra panadería cerca del museo!</p>
          <p>Somos una pareja, hacemos todo con amor. Nos interesa el arte. Gustamos de compartir buenas experiencias. Preocupados por nuestra salud mental y física. Queremos mejorar en todo lo posible. Buscamos humanizarnos en la mayor medida.</p>
        </div>
      </div>
    </div>
  </div>
</section>
