<section class="module" id="menu">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-sm-offset-5">
        <div class="alt-module-subtitle"><span class="holder-w"></span>
          <h5 class="font-serif">Del mundo a tu casa</h5><span class="holder-w"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="module-title font-alt">Nuestra selección de panes</h2>
      </div>
    </div>
    <div class="row multi-columns-row">
      <div class="col-sm-6">
        <ng-container *ngFor="let menu of cartaPanes1">
          <div class="menu">
            <div class="row">
              <div class="col-sm-8">
                <h4 class="menu-title font-alt">{{menu.titulo}}</h4>
                <div class="menu-detail font-serif">{{menu.descripcion}}</div>
              </div>
              <div class="col-sm-4 menu-price-detail">
                <h4 class="menu-price font-alt">${{menu.precio}}</h4>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="col-sm-6">
        <ng-container *ngFor="let menu of cartaPanes2">
          <div class="menu">
            <div class="row">
              <div class="col-sm-8">
                <h4 class="menu-title font-alt">{{menu.titulo}}</h4>
                <div class="menu-detail font-serif">{{menu.descripcion}}</div>
              </div>
              <div class="col-sm-4 menu-price-detail">
                <h4 class="menu-price font-alt">${{menu.precio}}</h4>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
