<section class="module bg-dark-60 pt-0 pb-0 parallax-bg testimonial" data-background="assets/images/curly/2.jpg">
  <div class="testimonials-slider pt-140 pb-140">
    <ul class="slides">
      <li>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="module-icon"><span class="icon-quote"></span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <blockquote class="testimonial-text font-alt">La pasión por la panadería es lo que nos impulsa a crear los mejores productos cada día.</blockquote>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <div class="testimonial-author">
                <div class="testimonial-caption font-alt">
                  <div class="testimonial-title">Jack Woods</div>
                  <div class="testimonial-descr">SomeCompany INC, CEO</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="module-icon"><span class="icon-quote"></span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <blockquote class="testimonial-text font-alt">La panadería es un arte, y nos esforzamos por perfeccionarlo cada día.</blockquote>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <div class="testimonial-author">
                <div class="testimonial-caption font-alt">
                  <div class="testimonial-title">Jim Stone</div>
                  <div class="testimonial-descr">SomeCompany INC, CEO</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="module-icon"><span class="icon-quote"></span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <blockquote class="testimonial-text font-alt">La panadería es nuestra vida, y trabajamos duro para hacerla accesible a todos.</blockquote>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <div class="testimonial-author">
                <div class="testimonial-caption font-alt">
                  <div class="testimonial-title">Adele Snow</div>
                  <div class="testimonial-descr">SomeCompany INC, CEO</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="module-icon"><span class="icon-quote"></span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <blockquote class="testimonial-text font-alt">La panadería es una tradición familiar, y nos enorgullece continuarla y mejorarla.</blockquote>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <div class="testimonial-author">
                <div class="testimonial-caption font-alt">
                  <div class="testimonial-title">Adele Snow</div>
                  <div class="testimonial-descr">SomeCompany INC, CEO</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="module-icon"><span class="icon-quote"></span></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <blockquote class="testimonial-text font-alt">La panadería es una expresión creativa, y nos encanta experimentar con nuevos sabores y técnicas.</blockquote>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <div class="testimonial-author">
                <div class="testimonial-caption font-alt">
                  <div class="testimonial-title">Adele Snow</div>
                  <div class="testimonial-descr">SomeCompany INC, CEO</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
