<section class="module" id="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt">Nuestros Servicios</h2>
        <div class="module-subtitle font-serif">Vive la experiencia completa del arte y el sabor en nuestra panadería cerca del Museo de Bellas Artes en Santiago. Ofrecemos panes y pasteles hechos a mano con ingredientes frescos y de alta calidad, además de opciones veganas y sin gluten. ¡Ven y disfruta del arte y la delicia en nuestra panadería cerca del museo!</div>
      </div>
    </div>
    <div class="row multi-columns-row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-book-open"></span></div>
          <h3 class="features-title font-alt">carta de panes</h3>
          <p>Puedes revisar nuestra carta de recetas con panes de selección.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-wallet"></span></div>
          <h3 class="features-title font-alt">pagos online</h3>
          <p>Podrás pagar con tu tarjeta de debito y credito 100% online. Nosotros te daremos el pan y listo.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-map"></span></div>
          <h3 class="features-title font-alt">despacho a domicilio</h3>
          <p>Despachamos inicialmente dentro del edificio, pronto podremos llegar más lejos.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="features-item">
          <div class="features-icon"><span class="icon-pencil"></span></div>
          <h3 class="features-title font-alt">productos personalizados</h3>
          <p>Puedes crear una orden con las proporciones que necesites de nuestros ingredientes. El administrador se pondrá en contacto contigo.</p>
        </div>
      </div>
    </div>
  </div>
</section>
