
<div class="main">

  <!-- sin usar ⬇️ -->

  <!-- <app-pricing></app-pricing> -->
  <!-- <app-presentation></app-presentation> -->
  <!-- <app-our-features></app-our-features> -->
  <!-- <app-works></app-works> -->
  <!-- <app-subscribe-banner></app-subscribe-banner> -->
  <!-- <app-contact-form></app-contact-form> -->

  <!-- divisor ⬇️ -->

  <!-- <hr class="divider-w"> -->

  <app-our-services></app-our-services>

  <app-slider></app-slider>


  <app-about></app-about>

  <app-scoreboard></app-scoreboard>

  <app-menu-chart></app-menu-chart>

  <app-video-module></app-video-module>

  <!-- <hr class="divider-w"> -->

  <app-social-posts></app-social-posts>
  <!-- <section id="map-section">
    <div id="map"></div>
  </section> -->

</div>
<hr class="divider-d" />
