<section class="module" id="news">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt">Redes sociales</h2>
        <div class="module-subtitle font-serif">Entérate de las últimas novedades que tenemos para contarte. Tenemos
          concursos, recetas, promociones y más.</div>
      </div>
    </div>
    <div class="row multi-columns-row post-columns">
      <ng-container *ngFor="let post of posts">
        <div class="col-sm-12 col-md-4 col-lg-4 justify-self-center">
          <div class="post mb-20">
            <div class="post-thumbnail"><a href="https://www.instagram.com/{{post.username}}" target="_blank"><img src="{{post.media_url}}"
                  class="w3-sepia-min w3-opacity-min w3-hover-opacity" alt="Blog-post Thumbnail" /></a></div>
            <div class="post-header font-alt">
              <h2 class="post-title"><a href="https://www.instagram.com/{{post.username}}" target="_blank">Instagram</a></h2>
              <div class="post-meta">Por &nbsp;<a href="https://www.instagram.com/{{post.username}}" target="_blank">{{post.username}}</a>&nbsp;| {{post.timestamp | date}}
              </div>
            </div>
            <div class="post-entry">
              <p>{{post.caption}}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
