<section class="module bg-dark-60" data-background="assets/images/curly/3.jpg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt">Nuestros Logros</h2>
        <div class="module-subtitle font-serif"></div>
      </div>
    </div>
    <div class="row multi-columns-row">
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="count-item mb-sm-40">
          <div class="count-icon"><span class="icon-happy"></span></div>
          <h3 class="count-to font-alt" data-countto="207"></h3>
          <h5 class="count-title font-serif">Pedidos realizados</h5>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="count-item mb-sm-40">
          <div class="count-icon"><span class="icon-calendar"></span></div>
          <h3 class="count-to font-alt" data-countto="8"></h3>
          <h5 class="count-title font-serif">Susripciones mensuales</h5>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="count-item mb-sm-40">
          <div class="count-icon"><span class="icon-camera"></span></div>
          <h3 class="count-to font-alt" data-countto="84"></h3>
          <h5 class="count-title font-serif">Fotografías para el mercado</h5>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="count-item mb-sm-40">
          <div class="count-icon"><span class="icon-map-pin"></span></div>
          <h3 class="count-to font-alt" data-countto="32"></h3>
          <h5 class="count-title font-serif">Despachos a domicilio</h5>
        </div>
      </div>
    </div>
  </div>
</section>
